.grid{
    --mask-image: radial-gradient(50% 65% at top center, black, transparent); 
    mask-image: var(--mask-image);
    -webkit-mask-image: var(--mask-image);
    position: absolute;
    z-index: 1;
    animation: fadeIn 2s ease-in both;
    top: -2px;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 20%;
    }
}